{
    color de fondo: blanco;
    tamaño de la caja: border-box; 
  }

#caja{
    color de fondo: blanco;
    acolchado: 20px;
   
}

 
h2{
    margen inferior: 30px;
    relleno superior: 20px;
    alinear texto: centro;
    color de fondo: blanco;
}

#highlight {
    color de fondo: gris;
    borde: 4px negro sólido;
    tamaño de fuente: 24px;
    peso de fuente: negrita;
    color de fuente: negro;
    estilo de fuente: normal;
    flotar derecho;
    relleno: 10px 30px 10px 30px;
}
#highlight2 {
    color de fondo: verde;
    borde: 4px negro sólido;
    tamaño de fuente: 24px;
    peso de fuente: negrita;
    color de fuente: negro;
    estilo de fuente: normal;
    flotar derecho;
    relleno: 10px 30px 10px 30px;
}
#highlight3 {
     
    color de fondo: rosa;
    borde: 4px negro sólido;
    tamaño de fuente: 24px;
    peso de fuente: negrita;
    color de fuente: negro;
    estilo de fuente: normal;
    flotar derecho;
    relleno: 10px 30px 10px 30px;
}

 

#p1 {
    acolchado: 60px 20px 10px 20px;
    borde: 3px sólido;
    tamaño de fuente: 18px;
    color de fondo: gris;
    de color negro;
    peso de fuente: negrita;
    estilo de fuente: cursiva;
  }

#p2 {
     acolchado: 60px 20px 10px 20px;
    borde: 3px sólido;
    tamaño de fuente: 18px;
    color de fondo: azul;
    de color negro;
    peso de fuente: negrita;
    estilo de fuente: cursiva;
    }

#p3 {
    acolchado: 60px 20px 10px 20px;
    borde: 3px sólido;
    tamaño de fuente: 18px;
    color de fondo: cian;
    de color negro;
    peso de fuente: negrita;
    estilo de fuente: cursiva;
   }
